In [1]:
#Now we'll elarn about reindexing

In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [3]:
#Lets create a new series
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [4]:
#Show
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
#Call reindex to rearrange the data to a new index
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [7]:
#Show
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

#### Reindex  and fill value method

In [6]:
# We can alos fill in values for new indexes
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [7]:
#Using a particular method for filling values
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

#Show
ser3

0        USA
5     Mexico
10    Canada
dtype: object

#### Reindex  and fill method

In [8]:
#Can use a forward fill for interploating values between indices (Check methods to fill values) 
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [9]:
#Reindexing rows, columns or both

#Lets make a datafram ewith some random values
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

#Show
dframe

       col1      col2      col3      col4      col5
A -1.183884  1.975493  1.039700  2.315618  1.177670
B  0.925227 -1.492156 -0.334605 -0.247465  0.319278
D -0.239588  0.840373  1.592545  0.020146  0.030998
E -0.515419  0.894566  0.504164  1.358354 -1.146934
F  0.257512  1.858666  0.168873 -0.152484  0.618399

In [10]:
#Notice we forgot 'C' , lets reindex it into dframe
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [11]:
#Can also explicitly reindex columns
new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.183884  1.975493  1.039700  2.315618  1.177670   NaN
B  0.925227 -1.492156 -0.334605 -0.247465  0.319278   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.239588  0.840373  1.592545  0.020146  0.030998   NaN
E -0.515419  0.894566  0.504164  1.358354 -1.146934   NaN
F  0.257512  1.858666  0.168873 -0.152484  0.618399   NaN

In [12]:
#Reindex quickly using the label-indexing with ix (we'll see this more in the future)

#Show original
dframe

       col1      col2      col3      col4      col5
A -1.183884  1.975493  1.039700  2.315618  1.177670
B  0.925227 -1.492156 -0.334605 -0.247465  0.319278
D -0.239588  0.840373  1.592545  0.020146  0.030998
E -0.515419  0.894566  0.504164  1.358354 -1.146934
F  0.257512  1.858666  0.168873 -0.152484  0.618399

In [13]:
# Fat way to index is with ix method
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A -1.183884  1.975493  1.039700  2.315618  1.177670   NaN
B  0.925227 -1.492156 -0.334605 -0.247465  0.319278   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.239588  0.840373  1.592545  0.020146  0.030998   NaN
E -0.515419  0.894566  0.504164  1.358354 -1.146934   NaN
F  0.257512  1.858666  0.168873 -0.152484  0.618399   NaN

In [14]:
dframe.ix[['A','B']]

       col1      col2      col3      col4      col5
A -1.183884  1.975493  1.039700  2.315618  1.177670
B  0.925227 -1.492156 -0.334605 -0.247465  0.319278